:root {
    --main-color: #ff1016;
    --main-color-darkened: #c00006;
}
body {
    height: max-content;
    /* Pongo un fondo oscurecido al cuerpo principal de la página. */
    background-size:contain;
    background-repeat: repeat-y;
    background-color: rgba(0, 0, 0, 0.685);
    background-blend-mode:darken;
    background-image: url(https://fotografias.larazon.es/clipping/cmsimages01/2023/06/28/2971764A-A84F-4ACE-B016-14A550D47476/oferta-productos-supermercado-bilbao_98.jpg?crop=5616,3160,x0,y0&width=1900&height=1069&optimize=low&format=webply);
}
footer {
    background-color: var(--main-color);
}
.img-fluid {
    padding: 10px;
    width: 100%;
    max-width: max-content;
    max-height: max-content;
    border-radius: 15px;
}
/* Para crear espacios que separen el contenido de mi pagina. */
.espaciado {
    height: 10vh;
}
.navbar-brand > img {
    height: 50px;
}
.menuNav {
    background-color: var(--main-color);
    border-bottom: 3px solid var(--main-color-darkened);
    /* Para que el menú este posicionado arriba permanentemente. */
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-link {
    color: var(--bs-white);
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}
.divContenido {
    padding: 10px;
    color: var(--bs-white);
    font-size: 20px;
    background-color: var(--main-color);
    border-radius: 20px;
    border: 3px var(--bs-white) solid;
    text-align: center;
}
.divContenido2 {
    height: max-content;
    color: var(--bs-white);
    font-size: 20px;
    background-color: var(--main-color);
    text-align: center;
}
.divContenido > h1 {
    font-weight: bolder;
    font-size: 50px;
}
.boton {
    color: var(--bs-white);
    font-weight: bold;
    background-color: var(--main-color-darkened);
    border-radius: 5px;
    border: 3px var(--bs-white) solid;
    margin-top: 5px;
}
footer.py-5 {
    padding-bottom: 1px !important;
}
#finPaginaSeparador {
    height: 400px;
    background-image: url(https://itab.imagevault.media/publishedmedia/6eo4kavkrrjwgje7om1o/ITAB_200807-04064.jpg);
    background-color: rgba(0, 0, 0, 0.685);
    background-blend-mode: darken;
    background-size: cover;
}
#menosOrder{
    order: -1;
}
#masOrder{
    order: 1;
}
div {
    border: 0px solid lime;
}
/* 
    Media querys 
*/
@media(width < 576px) {
    .divContenido h1, .divContenido2 h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .divContenido p, .divContenido2 p {
        font-size: 1.3rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .img-fluid {
        max-width: 250px;
        max-height: 250px;
        padding: 10px 0px 0px 0px;
    }
    footer .nav-link {
        margin-left: 10px;
    }
    /*Modifico para que alterne entre imagen y texto.*/
    #menosOrder {
        order: 0;
    }
    #finPaginaSeparador {
        height: 150px;
    }
}
@media(min-width: 576px) {
    .divContenido h1, .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.2rem;
    }
    .divContenido p, .divContenido2 p {
        font-size: 1.4rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .img-fluid {
        max-width: 300px;
        max-height: 300px;
        padding: 10px 0px 10px 0px;
    }
    /*Modifico para que alterne entre imagen y texto.*/
    #menosOrder {
        order: 0;
    }
    #finPaginaSeparador {
        height: 150px;
    }
}
@media(min-width: 768px){
    .divContenido h1, .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.4rem;
    }
    .divContenido p, .divContenido2 p {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }
    .nav-link {
        font-size: 1.3rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    /*Modifico para que alterne entre imagen y texto.*/
    #menosOrder {
        order: 0;
    }
    #finPaginaSeparador {
        height: 150px;
    }
}
@media(min-width: 992px){
    .divContenido h1, .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.6rem;
    }
    .divContenido p, .divContenido2 p {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }
    /* Ajusto los márgenes para que no haga un salto de línea el texto.*/
    .nav-link {
        font-size: 1.4rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    .espaciado {
        height: 5vh;
    }
    .img-fluid {
        max-width: 400px;
        max-height: 400px;
    }
    #finPaginaSeparador {
        height: 200px;
    }
}
@media(min-width: 1200px){
    #finPaginaSeparador {
        height: 300px;
    }
}
@media(min-width: 1400px){
    .menuNav {
        height: 100px;
    }
    .navbar-brand > img {
        height: 50px;
    }
    .nav-link {
        color: var(--bs-white);
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 35px;
        margin-right: 35px;
    }
    .divContenido h1, .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.8rem;
    }
    .divContenido p, .divContenido2 p {
        font-size: 1.4rem;
    }
}
@media(min-width: 2560px) {
    .menuNav {
        height: 150px;
    }
    .navbar-brand > img {
        height: 100px;
    }
    .nav-link {
        color: var(--bs-white);
        font-size: 2.4rem;
        font-weight: bold;
        margin-left: 25px;
        margin-right: 25px;
    }
    .divContenido h1, .divContenido2 h1 {
        font-weight: bold;
        font-size: 3.4rem;
    }
    .divContenido p, .divContenido2 p {
        font-size: 2rem;
    }
    footer p,h5 {
        font-size: 2rem;
    }
    .boton {
        font-size: 1.6rem;
    }
    footer input {
        height: 3.4rem;
    }
}