@import 'variables';

* {
    margin: 0;
    font-family: $fontstack
}

body {
    margin-left: 20px;
}

.container {
    margin: 0 auto;
    width: 800px;
}

header {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        margin: 10px 10px 10px -30px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        li {
            text-align: center;
            border: 3px solid $third-color;
            border-left: 0px;
            background-color: $secondary-color;
            width: 33.3333333%;
            height: 3rem;

            a {
                font-size: 1.3rem;
                text-decoration: none;
                color: $link-color;
                display: flex;
                justify-content: center;
                align-items: center; // Center vertically
                height: 100%; // Ensure the anchor takes full height
                transition: background-color 1s ease-out, color 1s ease-out; // Add transition here

                &:hover {
                    background-color: $third-color;
                    color: $secondary-color;
                }
            }
        }

        li:first-child {
            border: 3px solid $third-color;
        }
    }
}

h1 {
    color: $primary-color;
    font-size: 2.5rem;
}

main {
    li {
        margin-left: -20px;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 650px) {
    header {
        ul {
            flex-direction: column;

            li {
                width: 100%;
                border: 3px solid $third-color;
                border-top: 0px;
            }
        }
    }
}