@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Regular.woff2') format('woff2'),
        url('../fonts/Cairo/Cairo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/Signika-Negative/Signika-Negative.woff2') format('woff2'),
        url('../fonts/Signika-Negative/Signika-Negative.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
        url('../fonts/Nunito/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
$font-titles: 'Cairo', sans-serif;
$font-subtitles: 'Nunito', sans-serif;
$font-main: 'Signika-Negative', sans-serif;

$primary-color: #13c8ff;
$secondary-color: lighten($primary-color, 95%); //#EBFAFF quiero esto
$third-color: darken($primary-color, 10%); 
$link-color: lighten($primary-color, 5%); 