@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    color: $font-color;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)),
        url('../images/fondo.jpg');
}

main {
    padding-top: 9rem;
}

h1 {
    font-family: $font-titles;
    text-align: center;
}

.navbar,
.offcanvas {
    height: 6rem;
    background-color: #0f0f0fc0;
    font-size: 1.3rem;

    a,
    h5 {
        font-family: $font-titles;
    }

    .active {
        font-size: 1.5rem;
    }

    img {
        position: relative;
        top: -20px;
        height: 7rem;
        left: calc(50vw - 75px);
    }
}

.navbar-toggler {
    position: relative;
    top: -20px;
}

.btn-close {
    filter: grayscale(1) invert(1);
}

.offcanvas {
    background-color: $primary-color;
    height: 100%;
}

.border-left {
    margin: 10px -13px;
    border: 0px;
}

.imagen {
    img {
        width: 100%;
    }
}

.contenido {
    position: relative;
    top: -3rem;
    background-color: #0f0f0fc0;
    text-align: center;
    height: 3rem;
}

/*
TODO remove para aplicar animaciones
#texto {
    animation: fadeIn 3s;
}

#carousel {
    animation: fadeIn 5s;
}
#anime {
    animation: fadeIn 7s;
}
#manga {
    animation: fadeIn 9s;
}
*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    background: $primary-color;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff
}

/* 
CSS carrousel
*/
.carousel-item,
.carousel {
    height: 75vh;

    img {
        height: 100%;
        width: 100%;

    }
}

.carousel-caption {
    background-color: #1d1d1d56;
}

/*
Footer
*/
.contenedorFooter {
    background-color: $primary-color;

    a,
    p {
        color: $font-color;
        font-family: $font-subtitles;
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 8rem;

        img {
            height: 9rem;
        }
    }
}

@media (min-width: 768px) {
    .border-left {
        border-left: 1px solid $font-color;
    }
}