:root {
    --main-color: #ff1016;
}
.navbar-brand > img {
    height: 50px;
}
.menuNav {
    margin-top: 0px;
    background-color: var(--main-color);
}
.nav-link {
    color: var(--bs-white) !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}
header {
    border-bottom: 3px solid #fa1a215e;
}