/*
    Animaciones
    -Botones del menu se desplazan ligeramente x
    -Imagenes de galeria aumentan con el scale x
    -Texto de los objetos de la galeria aparece poco a poco x
    -Boton de suscribete rotate x
    -Imagen de datos torcida con el skew  x
    -Copyright todas las transformaciones  a la vez.  x
    -Pagina de conocenos se mueven sus divs de los lados al centro con animation x
    -Div con fade-in en la pagina principal. x
    -Boton seleccionado de productos tendra un borde con animación
    -Buscar animación avanzada en internet. (nieve en todas las paginas) x
*/

:root {
    --main-color: #ff1016;
    --main-color-darkened: #c00006;
}

body {
    overflow-x: hidden;
    /* Pongo un fondo oscurecido al cuerpo de la página. */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.685);
    background-blend-mode: darken;
    background-image: url(../Imagenes/fondo.webp);
}

/* Animación de nieve solo con CSS */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

/* Fin animación */

footer {
    /* Le pongo un pequeño margen para que no se desplace al tener poco contenido visible en una pagina.*/
    background-color: var(--main-color);
    margin-top: 35%;
}

.img-fluid {
    /* Ajusto el tamaño de las imagenes y redondeo los bordes. */
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    padding: 10px;
}

/* Para crear espacios que separen el contenido de mi pagina. */
.espaciado {
    height: 10vh;
}

/*
    CSS del menú
    le pongo tamaño al logo, que luego modificaré segun la resolución
    cambio los tamaños de letra y márgenes de las opciones del menú
*/
.navbar-brand>img {
    height: 50px;
}

.menuNav {
    background-color: var(--main-color);
    border-bottom: 3px solid var(--main-color-darkened);
    /* Para que el menú este posicionado arriba siempre. */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link {
    position: relative;
    color: var(--bs-white);
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-link:hover {
    -webkit-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

/* CSS del contenido principal */
.divContenido {
    container-type: inline-size;
    margin-top: 10px;
    padding: 10px;
    color: var(--bs-white);
    font-size: 20px;
    background-color: var(--main-color);
    border-radius: 20px;
    border: 3px var(--bs-white) solid;
    text-align: center;
}

.divContenido2 {
    color: var(--bs-white);
    font-size: 20px;
    background-color: var(--main-color);
    text-align: center;
}

.divContenido>h1:first-child {
    font-weight: bolder;
    font-size: 50px;
}

/* CSS para un botón que usare a lo largo de las paginas. */
.boton {
    position: relative;
    color: var(--bs-white);
    font-weight: bold;
    background-color: var(--main-color-darkened);
    border-radius: 5px;
    border: 3px var(--bs-white) solid;
    margin-top: 5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.boton:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#suscribete {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

#suscribete:hover {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
}

#imagenDatos {
    -webkit-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease
}

#imagenDatos:hover {
    -webkit-transform: skew(15deg, 1deg);
    -ms-transform: skew(15deg, 1deg);
    transform: skew(15deg, 1deg);
}

#copyright {
    -webkit-transform: rotate(0deg) translate(0px, 0px) skew(0deg, 0deg) scale(1);
    -ms-transform: rotate(0deg) translate(0px, 0px) skew(0deg, 0deg) scale(1);
    transform: rotate(0deg) translate(0px, 0px) skew(0deg, 0deg) scale(1);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

#copyright:hover {
    -webkit-transform: rotateY(360deg) translate(10px) skew(-10deg) scale(1.2);
    transform: rotateY(360deg) translate(10px) skew(-10deg) scale(1.2);
}

/* Para quitar el padding del footer de bootstrap */
footer.py-5 {
    padding-bottom: 1px !important;
}

.textoJustificado {
    text-align: justify;
}

/* Creo un span para poner letra cursiva y un poco mas grande.*/
span.cursiva {
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
}

/* Creo una etiqueta para luego usarla con un container query, que al ser el contenedor de menor tamaño parte del texto que seleccione deje de mostrarse.*/
span.visible {
    display: contents;
}

.divAnimado-fade-in {
    -webkit-animation: fadeIn 5s;
    animation: fadeIn 5s;
}

#divAnimado-fade-in2 {
    -webkit-animation: fadeIn 6s;
    animation: fadeIn 6s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.divMovil {
    position: relative;
    left: 0px;
    -webkit-animation-name: moverDiv;
    animation-name: moverDiv;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#divMovil2 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

#divMovil3 {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}

#divMovil4 {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

@-webkit-keyframes moverDiv {
    0% {
        left: -2000px;
    }

    100% {
        left: 0px;
    }
}

@keyframes moverDiv {
    0% {
        left: -2000px;
    }

    100% {
        left: 0px;
    }
}

/* 
    Media querys 
*/
@media(width < 576px) {

    .divContenido h1,
    .divContenido2 h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0px;
    }

    .divContenido p,
    .divContenido2 p {
        font-size: 1.3rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .img-fluid {
        max-width: 250px;
        max-height: 250px;
        padding: 10px 0px 0px 0px;
    }

    footer .nav-link {
        margin-left: 10px;
    }

    figcaption {
        bottom: 0px;
    }
}

@media(min-width: 576px) {

    .divContenido h1,
    .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.2rem;
    }

    .divContenido p,
    .divContenido2 p {
        font-size: 1.4rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .img-fluid {
        max-width: 300px;
        max-height: 300px;
        padding: 10px 0px 10px 0px;
    }
}

@media(min-width: 768px) {

    .divContenido h1,
    .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.4rem;
    }

    .divContenido p,
    .divContenido2 p {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }

    .nav-link {
        font-size: 1.3rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(min-width: 992px) {

    .divContenido h1,
    .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.6rem;
    }

    .divContenido p,
    .divContenido2 p {
        font-size: 1.4rem;
        margin-bottom: 0px;
    }

    /* Ajusto los márgenes para que no haga un salto de línea el texto.*/
    .nav-link {
        font-size: 1.4rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .espaciado {
        height: 5vh;
    }

    .img-fluid {
        max-width: 400px;
        max-height: 400px;
    }

}

@media(min-width: 1400px) {
    .menuNav {
        height: 100px;
    }

    .navbar-brand>img {
        height: 50px;
    }

    .nav-link {
        color: var(--bs-white);
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 35px;
        margin-right: 35px;
    }

    .divContenido h1,
    .divContenido2 h1 {
        font-weight: bold;
        font-size: 2.8rem;
    }

    .divContenido p,
    .divContenido2 p {
        font-size: 1.4rem;
    }
}

@media(min-width: 2560px) {
    .menuNav {
        height: 150px;
    }

    .navbar-brand>img {
        height: 100px;
    }

    .nav-link {
        color: var(--bs-white);
        font-size: 2.4rem;
        font-weight: bold;
        margin-left: 25px;
        margin-right: 25px;
    }

    .divContenido h1,
    .divContenido2 h1 {
        font-weight: bold;
        font-size: 3.4rem;
    }

    .divContenido p,
    .divContenido2 p {
        font-size: 2rem;
    }

    footer p,
    h5 {
        font-size: 2rem;
    }

    .boton {
        font-size: 1.6rem;
    }

    footer input {
        height: 3.4rem;
    }
}

/* Oculto texto al tener pantalla menor de este tamaño*/
@container (width < 576px) {
    span.visible {
        display: none;
    }
}