// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$breadcrumb-divider: ".";
$breadcrumb-bg: #dee2e5; // Sobrescribe el color de fondo del breadcrumb
$breadcrumb-border-radius: 0.75rem; // Sobrescribe el radio del borde del breadcrumb
$breadcrumb-padding-y: 0.75rem; // Sobrescribe el padding vertical del breadcrumb item
$breadcrumb-padding-x: 1rem; // Sobrescribe el padding horizontal del breadcrumb item
$breadcrumb-divider-font-size: 1.5rem; // Sobrescribe el tamaño de la fuente del divider
$breadcrumb-divider-margin: 1.5rem; // Sobrescribe el margen derecho del divider

<<<<<<< HEAD
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/breadcrumb";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

// 8. Add additional custom code here
=======
// Then add additional custom code here
:root {
    --bs-breadcrumb-divider: ".";
}

.breadcrumb {
    font-size: 1.5rem;
    width: fit-content;
    margin: 0.5rem auto;
    background-color: #dee2e5;
    border-radius: 0.75rem;

    .breadcrumb-item {
        padding: 0.75rem 1rem;
        content: var(--bs-breadcrumb-divider)
    }
}
>>>>>>> 5dd72abe50c551b33d89eb61b557516ff72886c2
