// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../bootstrap/scss/bootstrap";

// Then add additional custom code here
:root {
    --bs-breadcrumb-divider: ".";
}
.breadcrumb {
    font-size: 1.5rem;
    width: fit-content;
    margin: 0.5rem auto;
    background-color: #dee2e5;
    border-radius: 0.75rem;
    .breadcrumb-item {
        padding: 0.75rem 1rem;
        content: var(--bs-breadcrumb-divider)
    }
}