// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$breadcrumb-divider: ".";
$breadcrumb-bg: #dee2e5; // Sobrescribe el color de fondo del breadcrumb
$breadcrumb-border-radius: 0.75rem; // Sobrescribe el radio del borde del breadcrumb
$breadcrumb-padding-y: 0.75rem; // Sobrescribe el padding vertical del breadcrumb item
$breadcrumb-padding-x: 1rem; // Sobrescribe el padding horizontal del breadcrumb item
$breadcrumb-divider-font-size: 1.5rem; // Sobrescribe el tamaño de la fuente del divider
$breadcrumb-divider-margin: 1.5rem; // Sobrescribe el margen derecho del divider

$btn-border-radius: 15px;
$btn-line-height: 10px;
$card-border-radius: 15px;
$card-border-width: 0px;

$list-group-action-color: #fff;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  vs: 650px,
  md: (768px*1.1),
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$container-max-widths: (
  sm: 500px,
  vs: 650px,
  md: (768px*1.1),
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/breadcrumb";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/buttons";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

// 8. Add additional custom code here
h6 {
  font-size: 0.75rem;
}

.row {
  .lista {
    a {
      color: #638ece;
      margin: 0px 10px;
    }

    .activo {
      border-radius: 5px;
      padding: 7px 11px;
      background-color: #0463ff;
      color: #fff;
    }

    input {
      border: 1px solid #4d4e4e;
      padding: 3px 10px;
      border-radius: 5px;
    }
  }

  .card {
    width: 400px;
    height: 200px;
    border: 1px solid #4d4e4e;
    border-radius: 5px;
    img {
      height: 100px;
      width: 100px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      width: fit-content;
      display: flex;
    }
    .activo {
      border-radius: 5px;
      padding: 2px 5px;
      background-color: #0463ff;
      font-weight: bold;
      color: #fff;
    }
  }
}

.fc-gray {
  color: #a9adb0;
}

.bg-black {
  background-color: #1d2125 !important;
}