div {
    border: 1px solid black;
}
img {
    width: 250px;
}
footer {
    border: 2px solid black;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    vertical-align: middle;
}
.error {
    color: red;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}
.compra {
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}
.dark-mode {
    background-color: #222;
    color: #fff;
}
